APP_ENV=local

GRAPHQL_GATEWAY_PORT=8080
LEAGUE_SERVICE_PORT=8081
LIVE_GAME_SERVICE_PORT=8082
INGESTION_SERVICE_PORT=8083

LEAGUE_SERVICE_URL=http://localhost:8081

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hershot
POSTGRES_PASSWORD=hershot
POSTGRES_DB=hershot
POSTGRES_SSLMODE=disable

REDIS_ADDR=localhost:6379

KAFKA_BROKERS=localhost:9092
GAME_EVENTS_TOPIC=game-events

CLIENT_TYPE=espn

ESPN_SITE_BASE_URL=https://site.api.espn.com/apis/site/v2/sports/basketball/wnba
ESPN_CORE_BASE_URL=https://sports.core.api.espn.com/v2/sports/basketball/leagues/wnba
ESPN_HTTP_TIMEOUT=10s
ESPN_PLAYS_LIMITS=1000

PLAYS_INTERVAL=2s
StartLeadTime=30s
SCHEDULE_REFRESH_INTERVAL=30m

ClientType=simulator
KAFKA_GAME_EVENTS_TOPIC=game-events
KafkaBrokers=localhost:9092

DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy